<!DOCTYPE html>
<head>
  <title>Hello World</title>
</head>

<body>

  <% include ./partials/navbar %>

  <h1>This is a boilerplate page</h1>


  <%- body -%>


  <% include ./partials/footer %>

</body>

</html>
